<section id="my-work">
    <div class="grid my-work">
        <h3 class="grid__item one-whole work">Work</h3>
        <p class="grid__item one-whole center">(in alphabetical order)</p>
        {% for p in projects %}
            <div class="grid__item sm-one-whole md-one-half one-third clear {{ cycle(['right', 'left'], loop.index0) }}">
                <div class="project buttonfx {{ p.acf.hover_effect }}">
                    <div class="project-logo">
                        {% if p.acf.svg == 'True' %}
                            {% include ('svg/'~ p.acf.svg_name ~'.twig') %}
                        {% endif %}

                        {% if p.acf.logo %}
                            <img src="{{ p.acf.logo.url }}" alt="{{p.acf.logo.alt}}"/>
                        {% endif %}
                    </div>


                    <div class="tab">
                        <input id="tab-{{p.ID}}" type="checkbox" name="tabs">
                        <label for="tab-{{p.ID}}">Details</label>
                        <div class="tab-content">
        
                            <h3>{{ p.post_title }}</h3>

                            {% if p.acf.url %}
                                <a class="btn" target="_blank" href="{{ p.acf.url }}">Visit Website</a>
                            {% endif %}

                            {% if p.acf.screenshot_1 %}
                                <img src="{{ p.acf.screenshot_1 }}"/>
                            {% endif %}

                            {% if p.acf.screenshot_2 %}
                                <img src="{{ p.acf.screenshot_2 }}"/>
                            {% endif %}
                        
                            {% if p.acf.features %}
                                <div class="details-text">
                                    <p>Features</p>
                                    <div class="features">{{ p.acf.features }}</div>
                                </div>
                            {% endif %}
                            
                            {% if p.acf.challenges %}
                                <div class="details-text">
                                    <p>Challenges</p>
                                    <div class="challenges">{{ p.acf.challenges }}</div>
                                </div>
                            {% endif %}

                            {% if p.acf.learning_outcomes %}
                                <div class="details-text">
                                    <p>Learning Outcomes</p>
                                    <div class="learning_outcomes">{{ p.acf.learning_outcomes  }}</div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="{% for w in p.acf.working_for %}{{ w }}{% endfor %}"></div>

            </div>
        {% endfor %}
    
    </div>
</section>