{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">

			<section class="article-content">
				<h1 class="article-h1">{{ post.title }}</h1>
				{#<p class="blog-author">
					<span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> {{ post.date }}
				</p>#}
				<div class="article-body">
					
                    {#{{ acf.description }}#}
                    {% if acf.screenshot_1 %}
                        <img src="{{ acf.screenshot_1.url }}"/>
                    {% endif %}

                    {% if acf.screenshot_2 %}
                        <img src="{{ acf.screenshot_2.url }}"/>
                    {% endif %}
                    {% if acf.screenshot_3 %}
                        <img src="{{ acf.screenshot_3.url }}"/>
                    {% endif %}

                    {% if acf.link %}
                        <a href="{{ acf.link }}"/>Visit Website</a>
                    {% endif %}

                    {% if acf.rating %}
                        <div class="review__rating">
                            {% if acf.rating == 1 %}
                                <i class="fa fa-star fa-lg"></i>
                            {% endif %}
                            {% if acf.rating == 2 %}
                                <i class="fa fa-star fa-lg"></i>
                                <i class="fa fa-star fa-lg"></i>
                            {% endif %}
                            {% if acf.rating == 3 %}
                                <i class="fa fa-star fa-lg"></i>
                                <i class="fa fa-star fa-lg"></i>
                                <i class="fa fa-star fa-lg"></i>
                            {% endif %}
                            {% if acf.rating == 4 %}
                                <i class="fa fa-star fa-lg"></i>
                                <i class="fa fa-star fa-lg"></i>
                                <i class="fa fa-star fa-lg"></i>
                                <i class="fa fa-star fa-lg"></i>
                            {% endif %}
                            {% if acf.rating == 5 %}
                                <i class="fa fa-star fa-lg"></i>
                                <i class="fa fa-star fa-lg"></i>
                                <i class="fa fa-star fa-lg"></i>
                                <i class="fa fa-star fa-lg"></i>
                                <i class="fa fa-star fa-lg"></i>
                            {% endif %}
                        </div>
                    {% endif %}
                    
                    {% if acf.cost %}
                        <span>Cost: {{ acf.cost }}</span>
                    {% endif %}
                    
                     {% if acf.api %}
                        <span>Has an API? {{ acf.api }}</span>
                    {% endif %}
                    
                    {% if acf.difficulty %}
                         <span>Setup Difficulty: {{ acf.difficulty }}</span>
                    {% endif %}

                    {% if acf.features %}
                        <h3>Features</h3>
                        <div class="features">{{ acf.features }}</div>
                    {% endif %}

                    {% if acf.pros %}
                        <h3>Pros</h3>
                        <div class="pros">{{ acf.pros }}</div>
                    {% endif %}

                    {% if acf.cons %}
                        <h3>Cons</h3>
                        <div class="cons">{{ acf.cons }}</div>
                    {% endif %}
                
                    {% if acf.detailed_review %}
                        {{ acf.detailed_review  }}
                    {% endif %}
    
    
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}